.header {
  text-align: center;
  font-size: 5rem;
}
#row01 {
  height: 100vh;
  background-image: url("../images/bg/index_bg_01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 5% 30%;
}
#row01 .title-text {
  font-size: 10rem;
  vertical-align: middle;
}
@media (min-width: 480px) {
  #row01 .title-text {
    font-size: 15rem;
  }
}
#row02 {
  padding: 50px 20px;
  background-color: white;
}
@media (min-width: 480px) {
  #row02 {
    font-size: 1.8rem;
  }
}
#row02 p {
  margin-bottom: 3rem;
}
#row03 {
  min-height: 50vh;
  background-image: url("../images/bg/index_bg_03.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 3rem;
}
#row04 img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 2%;
}
