.clearfix {
  overflow: auto;
}
.anchor {
  display: block;
  position: relative;
  visibility: hidden;
  top: -64px;
}
img.rowbg {
  width: 100%;
}
body {
  font-family: sans-serif;
  background-color: white;
}
.main-container {
  margin-top: 64px;
}
header#top-bar.minimize {
  top: -64px;
}
header#top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 64px;
  z-index: 50;
  transition: top 0.2s linear;
  background-color: #EEEEEE;
}
header#top-bar .toggleable {
  visibility: hidden;
}
header#top-bar .toggleable.actived {
  visibility: visible;
}
header#top-bar .floating-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  margin-top: 64px;
  right: -100%;
  z-index: 100;
  transition: all 0.3s;
  overflow-y: scroll;
}
header#top-bar .floating-menu.actived {
  right: 0%;
}
header#top-bar nav {
  width: 280px;
  background: white;
  position: absolute;
  right: 0;
  padding: 0 0 60px 0;
}
header#top-bar nav ul {
  margin: 0px;
  padding: 0;
}
header#top-bar nav ul li {
  line-height: 2;
  list-style-type: none;
}
header#top-bar nav ul li .item {
  list-style-type: circle;
  margin-left: 15px;
}
header#top-bar nav ul li .item::before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  margin-right: 10px;
  border-radius: 1.5px;
  -moz-border-radius: 1.5px;
  -webkit-border-radius: 1.5px;
  background-color: black;
}
header#top-bar nav ul li a {
  text-transform: uppercase;
  padding: 10px 0px 10px 0px;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  color: black;
}
header#top-bar nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
header#top-bar nav ul li .caption {
  margin-left: 15px;
  text-transform: none;
  font-size: 14px;
}
header#top-bar .floating-menu-bg {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  margin-top: 64px;
  z-index: 90;
}
header#top-bar .logo {
  width: auto;
  height: auto;
  max-width: 300px;
  margin-top: 15px;
}
header#top-bar img {
  height: 64px;
}
header#top-bar img:hover {
  background-color: #FFFFFF;
  opacity: 0.5;
}
header#top-bar .rest {
  float: right;
}
header#top-bar a.home {
  display: block;
  float: left;
}
footer#foot-bar {
  height: 50px;
  background-color: #222222;
}
footer#foot-bar .rest {
  float: right;
  margin: 10px 40px 10px 0;
}
/* layout of control and its children */
.no-arrow .arrow-button {
  visibility: hidden;
}
/* widgets */
.widgets {
  position: absolute;
}
.youtube_video {
  position: absolute;
}
@media (min-width: 480px) {
  .youtube_video {
    width: 300px;
    height: 169px;
  }
}
@media (min-width: 992px) {
  .youtube_video {
    width: 600px;
    height: 338px;
  }
}
.clickable {
  cursor: pointer;
}
.expandable:active {
  padding: 1px;
}
@keyframes animBubble {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
.tns-nav {
  position: absolute;
  z-index: 40;
  bottom: 20px;
  left: 38%;
}
.tns-nav button {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0px;
  border-color: rgba(0, 0, 0, 0);
  margin: 0 5px 0 5px;
}
.tns-nav button.tns-nav-active {
  border-color: #CCC;
  background-color: rgba(255, 255, 255, 0.5);
}
.button {
  display: inline-block;
  font-family: sans-serif;
  background-color: #7AC9C4;
  color: white;
  border: 0px;
  line-height: 1;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 50%;
  margin-left: 25%;
}
@media (min-width: 480px) {
  .button {
    font-size: 17px;
    padding: 10px 20px;
  }
}
@media (min-width: 992px) {
  .button {
    font-size: 25px;
    padding: 10px 0;
  }
}
.button:link {
  color: white;
  text-decoration: none;
}
.button:hover {
  color: white;
  text-decoration: none;
}
.button:active {
  color: white;
  transform: translateY(1px) translateX(-1px);
  text-decoration: none;
}
